.row .column {
    /* padding: 0 8px; */
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 100px solid black;
}

.column .image {
    width: 35%;
    border-radius: 100%;
    object-fit: cover;
    background-position: center;
    transition: 0.2s all ease-in-out;
}

.container-fluid .row .column .image:hover {
    transform: scale(0.9);
}

/* check box */


.checkbox-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
}

.checkbox-label input[type="checkbox"] {
    margin-right: 10px;
    /* Adjust the spacing between checkbox and text */
}

/* check box */

/* seller */

.c-container {
    width: 400px;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    flex-direction: column;
   
}

.img-container {
    width: 20%!important;
    height: auto;
    transition: all ease-in-out 0.2s;
}

.img-container img {
    width: 50%;
    height: auto;
    object-fit: cover;
    background-position: center;
}

.text-container {
    width: 100%;
    height: auto;
}

.img-container:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
}

/* sellerend */